<<<<<<< HEAD
.text-sm {
  font-size: 16px; 
}

.text-xs {
  font-size: 14px;
}

.text-lg {
  font-size: 18px; 
}

.dialog-content p {
  font-size: 16px;
}
=======
>>>>>>> 6e5e27911ed4bb2099ba05ddb882c0a84bde5f24

  
  
  
  .custom-dialog .MuiPaper-root {
    padding: 20px;
    border-radius: 10px;
  }
  
  .custom-dialog .MuiDialogTitle-root {
    font-weight: bold;
    color: #333;
  }
  
  .custom-dialog .MuiDialogContent-root {
    color: #555;
  }
  
  .custom-dialog .MuiDialogActions-root {
    justify-content: flex-end;
  }
<<<<<<< HEAD
  
  .custom-popup {
  background-color: #fff0f8;  /* Set to your desired color */
}
=======
>>>>>>> 6e5e27911ed4bb2099ba05ddb882c0a84bde5f24
  